body {
    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 13.5pt;;
    margin-top: 0pt;
    text-indent: 0pt;
}

.img_flag {
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    box-shadow: 0 0 200px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-top: 2em;
    font-size: 50pt;
    font-weight: 900;
    text-align: center;
    line-height: normal;
}

.header {
    margin-top: 2em;
    text-align: center;
}

.p_tiret {
    margin-top: 40pt;
    text-indent: 0pt;
    text-align: center;
}

.p_gouv {
    margin-top: 2em;
    font-size: 26pt;
}

.p_constitution {
    font-size: 16pt;
}

.p_copie {
    font-size: 12pt;
}

.p_presente {
    margin-top: 4em;
    font-size: 16pt;
}

.div_constitution {
    text-align: justify;
    margin: 68.05pt 73.7pt 51.05pt;
}

/* .assnatANTexte {
    margin-top: -1em;
} */

/* .const {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17.5pt;
    text-align: center;
    margin-top: 0em;
} */

/* .article {
    float: left;
    font-weight: 900;
    text-decoration-line: underline;
} */

/* .title {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 700;
} */

/* .subtitle {
    font-weight: 600;
} */

/* .assnatSection3 {
    margin: 68.05pt 73.7pt 51.05pt;
    font-family: 'Times New Roman';
    font-size: 13.5pt;
    page: assnatSection3;
} */

#current_date {
    float: right;
}