body {
    text-align: justify;
    font-family: 'Times New Roman';
    font-size: 13.5pt;;
    margin-top: 0pt;
    text-indent: 0pt;
}

.img_flag {
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    box-shadow: 0 0 200px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-top: 2em;
    font-size: 50pt;
    font-weight: 900;
    text-align: center;
    line-height: normal;
}

.header {
    margin-top: 2em;
    text-align: center;
}

.p_tiret {
    margin-top: 40pt;
    text-indent: 0pt;
    text-align: center;
}

.p_gouv {
    margin-top: 2em;
    font-size: 26pt;
}

.p_constitution {
    font-size: 16pt;
}

.p_copie {
    font-size: 12pt;
}

.p_presente {
    margin-top: 4em;
    font-size: 16pt;
}

.div_constitution {
    text-align: justify;
    margin: 0 auto;
    width: 40vw;
    min-width: 320px;
    max-width: 700px;
    padding: 3em 2em;
    background: white;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.08);
    border-radius: 1em;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.p_titre {
    text-align: center;
    font-weight: 900;
    font-size: 32.5pt;
    text-transform: uppercase;
}

.p_article {
    margin-top: 12pt;
    margin-bottom: 0pt;
    text-indent: -2.5em;      /* Negative indent for hanging effect */
    padding-left: 2.5em;      /* Indent all lines except the first */
    text-align: justify;
    line-height: normal;
    font-family: 'Times New Roman';
    font-size: 13.5pt;
    float: none;              /* Remove float */
}

.article {
    font-weight: bold;
}

.p_date_gauche {
    font-size: 12pt;
}

#current_date {
    float: right;
}